<h2>Things To Do</h2>

Hi, <%= current_user.email %>!

<table class="table table-hover">
  <thead>
    <tr>
      <th>
        Task
      </th>
      <th>
        Time remaining
      </th>
      <th></th>
    </tr>
  </thead>
  <%= render current_user.items %>


</table>

<%= render partial: "items/form" %>
