<% @user.items.each do |item| %>
  <%= item.name  %>
<% end %>

<%= form_for [current_user, Item.new], remote: true do |f| %>
  <div class="form-group input-group">
    <%= f.text_field :name, class: 'form-control', :maxlength => 50, placeholder: 'Enter a task (50 characters max)' %>
    <span class="input-group-btn">
      <%= f.submit "Add", class: 'btn btn-success' %>
    </span>
  </div>
<% end %>
