<table class="table table-inverse">
  <thead>
    <tr>
      <th>
        Task
      </th>
      <th>
        Delete
      </th>
      <th>Time remaining</th>
    </tr>
  </thead>
  <%= render current_user.items %>


</table>

<%= render partial: "items/form" %>
