<%= form_for [current_user, @item] do |f| %>
  <div class="input-group">
    <%= f.text_field :name, class: 'form-control', placeholder: "What needs to get done?" %>
    <span class="input-group-btn">
      <%= f.submit "Add Item", class: 'btn btn-secondary pull-left' %>
    </span>
  </div>
<% end %>
