<div class="media">
   <div class="media-body">
     <small>
       <%= item.user.name %> commented <%= time_ago_in_words(.created_at) %> ago
     </small>
     <p><%= item.name %></p>
   </div>
 </div>
