<tr>
  <td>
    <%= item.name %>

  </td>
  <td>
    <%= link_to "Delete item", user_item_path(current_user, item), method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this post?'} %>
  </td>


</tr>
