<div class="col-md-8">
  <p><%= @item.name %></p>
  <div>
    <h3>Comments</h3>
    <%= render @item.names %>
  </div>

  <% if current_user %>

    <%= render partial: 'form', name: Name.new, item: @item %>
    <%= render @item.names %>
  <% end %>
